body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 50%;
}

.book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
